.main-button {
  position: relative;
  transition: all .4s;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  font-family: $font-family;
  color: $color-text;

  background: #ffffff;

  &::before {
    transition: all .4s;
    content: '';
    width: 2px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -4px;
  }

  &:hover {
    color: #fff;
    background: #E31E25;

    &::before {
      background: #E31E25;
    }
  }
}

.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.show-more-mobile {
  display: none;
  background: #000;
  color: #fff;
  height: 40px;
  margin: 20px auto 0;
  &::before {
    background: inherit;
  }
}
