
/* для элемента input c type="checkbox" */
.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  height: initial !important;
  padding: 0 !important;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;

  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $color-text;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}


/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3.75525L2.73955 6.50003L8 1.24478L7.24478 0.5L2.73955 5L0.744765 3.00523L0 3.75525Z' fill='%23E31E25'/%3E%3C/svg%3E%0A");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
  background-color: #444444;
}
