.login-form {
  position: relative;

  &__label {
    height: 40px;
    display: block;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
    padding: 8px 0;
    height: 100%;

    &::placeholder {
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 170%;
      color: $color-text;
      opacity: 0.5;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 43px;
  }

  &__forgot {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #E31E25;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__sign {
    width: 112px;
    color: #fff;
    background: #000;

    &::before {
      background: #000;
    }
  }

  &__registration {
    width: 222px;
    color: #000;
    background: #F8F8FB;

    &::before {
      background: #F8F8FB;
    }
  }

}


