.main-top {
  font-family: $font-family;
  font-style: normal;
  margin-bottom: 60px;

  & > h2 {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    line-height: 100%;
    color: $color-text--black;
  }

  & > p {
    font-weight: normal;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    line-height: 170%;
    color: $color-text;
    max-width: 415px;
  }

}
