.option-sec {
  margin-bottom: 50px;
}

.option-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__coll {
    width: 100%;

    &:nth-child(1) {
      max-width: 270px;
    }

    &:nth-child(2) {
      max-width: 880px;
      align-items: flex-end;
    }
  }

  &__form input {
    padding: 8px 0 16px;
  }
}

.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;

    grid-gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 42px;
  }

  &__icon.active {
    svg {
      fill: #E31E25;
    }
  }

  &__icon {
    svg {
      fill: #C4C4C4;
    }
  }
}
