.order-aside {
  padding: 40px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  max-width: 370px;
  width: 100%;

  &__button {
    margin-top: 20px;
    background: #000;
    color: #fff;
    width: 100%;

    &::before {
      background: inherit;
    }
  }

  &__title {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 120%;
    color: $color-text--black;
  }

  &__position {
    padding: 20px 0;
    border-top: 1px solid rgba(68, 68, 68, 0.1);

    &:first-child {
      border: none;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;
      color: $color-text;
    }

    span {
      font-family: $font-family--alt;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 100%;
      color: $color-text;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 2px;
    border-color: #000000;
    padding-bottom: 0;

    p {
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 170%;
      color: #000000;
    }

    span {
      font-family: $font-family--alt;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 100%;
      text-align: right;
      text-transform: capitalize;
      color: #000000;
    }
  }

}

.order-position {
  display: flex;
  align-items: center;
  grid-gap: 0 20px;

  &__descr {
    & > h3 {
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: $color-text;
      margin-bottom: 5px;
    }
  }

}

.order-price {
  display: flex;
  align-items: center;

  &__new {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
  }

  &__old {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-decoration-line: line-through;
    color: #444444;

  }

  p + p {
    margin-left: 10px;
  }
}
