.catalog-box__item {
  .item-descr__box {
    display: none;
  }
}

.row-item {
  grid-gap: 50px;

  .card {
    display: flex;
    width: 100%;
    grid-gap: 30px;
    max-width: 100%;
  }

  .card__top {
    max-width: 230px;
  }

  .card__image {
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .item-descr__box {
    display: block;
    position: relative;

    h2 {
      font-family: $font-family--alt;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 100%;
      color: $color-text--black;
      margin-bottom: 20px;
    }
  }

  .card__bottom > p {
    display: none;
  }

  .card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-descr__list {
    margin-bottom: 0;
  }

  .item-descr__buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
  }
}



@media screen and (max-width: 577px) {
  .catalog-box__item.row-item {
    display: flex;
    flex-direction: column;

    .card {
      grid-gap: 20px;
    }

    .card__image {
      width: 47%;
    }

    .card__top {
      max-width: 40%;
    }

    .item-descr__article {
      p {
        display: none;
      }
    }

    .item-descr__buttons {
      position: initial;
    }

    .item-descr__box {
      h2 {
        font-size: Max(5vw, 16px);
        line-height: 120%;
      }
    }

    .item-descr__item p {
      font-weight: 500;
      font-size: clamp(10px, 3vw, 14px);
      white-space: nowrap;
      line-height: 100%;
    }

    .item-descr__item {
      grid-gap: 2%;
    }

    .color-box span:not(:first-child) {
      margin-left: 13px;
    }



  }


  .catalog-box {
    display: initial;
  }


}


@media screen and (max-width: 769px) {
  .catalog-box__item.row-item {
    grid-template-columns: initial;

    .card {
      grid-gap: 20px;
    }

    .card__image {
      width: 47%;
    }

    .card__top {
      max-width: 40%;
    }

    .item-descr__article {
      p {
        display: none;
      }
    }

    .item-descr__buttons {
      position: initial;
    }

    .item-descr__box {
      h2 {
        font-size: Max(5vw, 16px);
        line-height: 120%;
      }
    }

    .item-descr__item p {
      font-weight: 500;
      font-size: clamp(10px, 3vw, 14px);
      white-space: nowrap;
      line-height: 100%;
    }

    .item-descr__item {
      grid-gap: 2%;
    }

    .color-box span:not(:first-child) {
      margin-left: 13px;
    }
  }
}

@media screen and (max-width: 1180px) {
  .catalog-box__item.row-item {
    grid-template-columns: initial;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  .mySwiperBig img {
    height: 79vw;
  }

}
