.select {
  position: relative;
  width: 270px;

  svg {
    fill: #808080;
  }

  .select__current {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

    color: #000;

  }

  .select__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
  }

  .select__header, .select__icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .select__body {

    ul {
      padding: 0.375em 5px;
      background-color: #fff;
      border: 1px solid #000;
    }

    li {
      display: flex;
      cursor: pointer;
      justify-content: flex-start;
      font-family: $font-family;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;

      color: #808080;

      &:not(:first-child) {
        margin-top: 5px;
      }

      &:hover {
        color: #000;
      }
    }
  }
}

.select-city {
  position: relative;
  width: 45%;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9' fill='none'%3E%3Cpath fill='%23000' d='M0 2V0h15v2zM7.5 8.3l-3-3.5h6l-3 3.5z'/%3E%3C/svg%3E");
    background-color: #fff;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: 15px;
    height: 10px;
    right: 0;
    top: 50%;
    transform: translate(-30%, -50%);
  }

  &:hover {
    &::before {
      transform: translate(-30%, -50%) scaleY(-1);
    }
  }
}
